
.nav-logo{
    width: 90px;

}

.navbar-nav li{
    margin-left: 75px;
}

.nav-item:hover .dropdown-menu{
    display: block;
}

.nav-link.active{
    border-bottom: solid;
    border-width: 4px;
    border-color: rgb(5, 5, 200);
}

.nav-item:hover{
    border-bottom: solid;
    border-width: 4px;
    border-color: rgb(5, 5, 200);
}

.dropdown-menu{
    
}

.dropdown-menu li{
    text-align: left;
   
}

.dropdown-item{
    font-weight: 500;
    /* border-bottom: solid;
    border-width: 1px; */
}

.carousel-1{
    margin-top: 7rem;
}

.heading-img{
    padding: 50px 0;
}

.card-body{
    background-color: rgb(119, 0, 216);
}

.card{
    cursor: pointer;
}

.explore-sec{
    background: url(../img/Explore-sec-bg.jpg);
    background-repeat: no-repeat;
    height: 30vw;
}

.explore-sec-sub-div h1{
    font-size: 3vw;
}

.footer-div{
    margin-top: 110px;
   
}

.explore-sec-sub-div-1,.explore-sec-sub-div-2{
    width: 50%;
}

.explore-sec-sub-div-2-btn{
    width: 50%;
}

.abt-BG-img-div{
    height: 4vw;
}

.abt-BG-img-div h6{
    font-size: 1.2vw;
}

.container-abt-BG-img-div{
    margin-top: 7rem;
    background: url(../img/about-us-img-1.jpg);
    height: 30vw;
    background-repeat: no-repeat;
    background-size: contain;
}

.container-abt-us-para img{
    max-width: 90%;
}

.container-cnt-BG-img-div{
    margin-top: 7rem;
    background: url(../img/contact-us-img-1.jpg);
    height: 30vw;
    background-repeat: no-repeat;
    background-size: contain;
}

.cnt-us-para-img{
    max-width: 95%;
    min-height: 37px;
}

/* .cnt-us-para{
    font-size: 1.2vw;
} */